<!DOCTYPE html>
<html>
  <head>
    <title>Lab</title>
    <style>
      .button{position: absolute;
        top: 10px;
        right: 120px;}
      .button1{position: absolute;
        top: 10px;
        right: 10px;}
      .button2{position: absolute;
        top: 10px;
        right: 200px;}
    </style>
    <a href="users/sign_in" class="button">log in</a>

    <a class="button1"><%= current_user.id%></a>

    <a href="users/sign_out"  class="button2">log out</a>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '{your-app-id}',
                cookie     : true,
                xfbml      : true,
                version    : '{latest-api-version}'
            });

            FB.AppEvents.logPageView();

        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

  </body>
</html>
